node_modules
.DS_Store

packages/*/lib/
packages/*/es/
dist

packages/react/src/components/**
packages/react/src/icons/**
packages/react/themes/**

**/components/**/style/index.ts

storybook-static
.changeset/pre.json
.changeset/*.md

packages/web-components/**/*.css
packages/web-components/src/icons
custom-elements.json
.wireit/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
