node_modules
.DS_Store

packages/*/lib/
packages/*/es/
dist

packages/react/src/**

**/components/**/style/index.ts

storybook-static
.changeset/pre.json
.changeset/moody-*

packages/web-components/**/*.css
custom-elements.json
.wireit/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
