@import '../../../styles/index';

@button-prefix-cls: ~'@{sen-prefix}-button';

.@{button-prefix-cls} {
  display: inline-block;
  cursor: pointer;
  height: 32px;
  font-size: var(--s-font-size);
  line-height: var(--s-line-height);
  border-radius: var(--s-border-radius);
  user-select: none;
  padding: 6px 12px;
  margin: 0;
  border: 0 solid transparent;
  box-shadow: none;
  padding: 6px 12px;
  font-weight: 600;
  outline: none;
  vertical-align: middle;
  white-space: nowrap;

  &-primary {
    background-color: var(--s-color-primary);
    color: var(--s-color-white);
  }
}
